WS_BASE_URL=wss://stream.binance.com:9443/stream
SYMBOLS=BTCUSDT,ETHUSDT,SOLUSDT
KAFKA_BOOTSTRAP_SERVERS=kafka:29092 # configuración para el servicio de docker compose. En local usar localhost:9092
KAFKA_TOPIC=kafka-envelope
LOG_LEVEL=INFO

BRONZE_TABLE_PATH=s3a://lakehouse/bronze/kafka_envelope
BRONZE_CHECKPOINT_PATH=s3a://lakehouse/checkpoints/bronze
BRONZE_TRIGGER_INTERVAL=30 seconds

SILVER_AGG_TRADE_TABLE_PATH=s3a://lakehouse/silver/agg_trade
SILVER_AGG_TRADE_CHECKPOINT_PATH=s3a://lakehouse/checkpoints/silver_agg_trade
SILVER_AGG_TRADE_TRIGGER_INTERVAL="30 seconds"

SILVER_BOOK_TICKER_TABLE_PATH=s3a://lakehouse/silver/book_ticker
SILVER_BOOK_TICKER_CHECKPOINT_PATH=s3a://lakehouse/checkpoints/silver_book_ticker
SILVER_BOOK_TICKER_TRIGGER_INTERVAL="30 seconds"

SILVER_DEPTH10_TABLE_PATH=s3a://lakehouse/silver/depth10
SILVER_DEPTH10_CHECKPOINT_PATH=s3a://lakehouse/checkpoints/silver_depth10
SILVER_DEPTH10_TRIGGER_INTERVAL="30 seconds"

GOLD_VOLATILITY_TABLE_PATH=s3a://lakehouse/gold/volatility
GOLD_VOLATILITY_CHECKPOINT_PATH=s3a://lakehouse/checkpoints/gold_volatility
GOLD_VOLATILITY_TRIGGER_INTERVAL="30 seconds"

GOLD_SPREAD_TABLE_PATH=s3a://lakehouse/gold/spread
GOLD_SPREAD_CHECKPOINT_PATH=s3a://lakehouse/checkpoints/gold_spread
GOLD_SPREAD_TRIGGER_INTERVAL="30 seconds"

GOLD_LIQUIDITY_TABLE_PATH=s3a://lakehouse/gold/liquidity
GOLD_LIQUIDITY_CHECKPOINT_PATH=s3a://lakehouse/checkpoints/gold_liquidity
GOLD_LIQUIDITY_TRIGGER_INTERVAL="30 seconds"

S3_ENDPOINT_URL=floci:4566 # en local usar localhost:4566 
S3_ACCESS_KEY=test
S3_SECRET_KEY=test